* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: black;
	background: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

.title {
	text-align: center;
	margin-top: 50px;
}

.title p {
	margin-top: 10px;
	position: absolute;
	text-align: left;
	left: calc(50% - 250px);
	font-size: 14px;
	width: 500px;
}

.content {
	display: flex;
	margin-top: 100px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container {
	width: 800px;
	height: 480px;
	margin-left: 50px;
}

.left-side {
	width: 400px;
	height: 480px;
}

.algorithm-selector {	
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 180px 180px;
	justify-content: center;
	align-items: center;
}

.algorithm-button {
	cursor: pointer;
	text-align: center;
	margin-top: 30px;
}

.details-text {
	font-size: 10px;
}

.main-buttons {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-array-button {
	cursor: pointer;
	margin-right: 50px;
	background: tomato;
	border-radius: 10px;
	padding: 10px;
}

.sort-button {
	cursor: pointer;
	margin-left: 30px;
	background: tomato;
	border-radius: 10px;
	padding: 10px;
}

.size-selector {
	margin: 50px auto 30px auto;
	text-align: center;
}

.slider {
	-webkit-appearance: none;
  	appearance: none;
  	width: 250px;
  	height: 10px;
  	border-radius: 5px;
  	background: darkgrey;
  	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
  	appearance: none;
  	width: 25px;
  	height: 25px;
  	border-radius: 10px;
  	background: tomato;
  	cursor: pointer;
}

.algorithm-selector-bubble {
	position: absolute;
	z-index: -1;
	background: tomato;
	transform: scale(1.2);
	transition: all 0.5s ease;
	border-radius: 10px;
}

.array-element {
	position: absolute;
	background: tomato;
	left: 0;
	bottom: calc(100% - 650px);
	border-radius: 10px;
}